In [24]:
import pandas as pd
from datetime import datetime
import yfinance as yf

In [31]:
# Load the file you just downloaded
vix_df = pd.read_csv("india_vix.csv", parse_dates=["Date"])

In [32]:
vix_df

           Date    Close     Open     High      Low
0    2008-04-01  35.1000  31.2400  38.3800  28.5900
1    2008-07-01  31.4200  30.9600  56.6400  30.9600
2    2008-08-01  38.4900  40.2600  41.9300  35.1000
3    2008-09-01  31.2800  49.7000  49.7000  29.4700
4    2008-10-01  35.5400  37.1900  37.1900  34.9800
...         ...      ...      ...      ...      ...
4262 2025-05-30  16.0775  16.4200  16.5450  15.2875
4263 2025-02-06  17.1575  16.0775  17.7275  16.0775
4264 2025-03-06  16.5550  17.1575  17.7275  16.2575
4265 2025-04-06  15.7450  16.5550  17.0600  15.6300
4266 2025-05-06  15.2850  15.1500  15.9200  14.9825

[4267 rows x 5 columns]

In [33]:
vix_df["Date"] = pd.to_datetime(vix_df["Date"], dayfirst=True)

In [34]:
vix_df = vix_df.sort_values("Date").drop_duplicates(subset="Date")

In [35]:
vix_df.reset_index(drop=True)

           Date    Close     Open     High      Low
0    2008-03-04  38.0800  38.0800  51.0700  30.5900
1    2008-03-05  35.5100  38.0800  38.7600  27.9500
2    2008-03-07  35.2000  36.9500  39.3400  27.0500
3    2008-03-10  32.5800  25.3300  47.9500  25.3300
4    2008-03-11  32.6900  30.7200  37.5400  29.7500
...         ...      ...      ...      ...      ...
4249 2025-11-03  14.0725  13.9850  14.5025  13.6750
4250 2025-11-04  20.1075  21.4300  21.4300  18.8550
4251 2025-12-02  14.8950  14.8700  15.6225  14.6075
4252 2025-12-03  13.6925  14.0725  14.3725  13.6350
4253 2025-12-05  18.3925  21.6325  21.6325  17.2075

[4254 rows x 5 columns]

In [36]:
vix_df = vix_df[["Date", "Close"]].rename(columns={"Close": "vix"})

In [37]:
# Check last date
last_date = vix_df["Date"].max()
print("Last date in CSV:", last_date)

Last date in CSV: 2025-12-05 00:00:00

In [11]:
# Start date = day after last_date
start_date = (last_date + pd.Timedelta(days=1)).strftime('%Y-%m-%d')

In [12]:
today = pd.Timestamp.today().strftime('%Y-%m-%d')

In [16]:
# Fetch new data
# new_vix = yf.download("^INDIAVIX", start=start_date, end=today, progress=False)
new_vix = yf.download("^INDIAVIX", start="2024-08-29", end="2025-04-16", progress=False)

1 Failed download:
['^INDIAVIX']: YFPricesMissingError('possibly delisted; no price data found  (1d 2024-08-29 -> 2025-04-16)')